{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/contactus.css' %}"/>
    <script src="https://kit.fontawesome.com/9694f6d823.js" crossorigin="anonymous"></script>

    <div class="hero">
        
        <form method="POST">
            {% csrf_token %}
            {% if authenticated == True %}
                <div class="row">
                    <div class="input-group">
                        <input type="text" name="name" id="name" value="{{full_name}}" required>
                        <label for="name"><i class="fas fa-user"></i> Your Name</label>
                    </div>
                    <div class="input-group">
                        <input type="text" name="subject" id="subject" required>
                        <label for="subject"><i class="fas fa-book"></i> Your Subject</label>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" name="email" id="email" value="{{email}}" required>
                    <label for="email"><i class="fas fa-envelope"></i> Your Email</label>
                </div>
                <div class="input-group">
                    <textarea style="resize: none;" id="message" name="message" rows="8" required></textarea>
                    <label for="message"><i class="fas fa-comments"></i> Your Message</label>
                </div>
            {% else %}
                <div class="row">
                    <div class="input-group">
                        <input type="text" name="name" id="name" required>
                        <label for="name"><i class="fas fa-user"></i> Your Name</label>
                    </div>
                    <div class="input-group">
                        <input type="text" name="subject" id="subject" required>
                        <label for="subject"><i class="fas fa-book"></i> Your Subject</label>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" name="email" id="email" required>
                    <label for="email"><i class="fas fa-envelope"></i> Your Email</label>
                </div>
                <div class="input-group">
                    <textarea style="resize: none;" id="message" name="message" rows="8" required></textarea>
                    <label for="message"><i class="fas fa-comments"></i> Your Message</label>
                </div>
            {% endif %}

            <button type="submit">SUBMIT <i class="fa fa-paper-plane"></i></button>

        </form>

    </div>


{% endblock content %}