{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Login | Ka Treasure Water Terraces Mountain Resort
{% endblock %}

{% block head %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="login-box">
        <div class="login-header">
            <header>Enter Email</header>
        </div>
        <div class="input-box">
            <input type="email" class="input-field" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">SEND LINK</label>
            <div class="sign-up-link">
                <p>Login? <a href="{% url 'KaTreasureApp:login' %}">Click Here</a></p>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}  